.fetured {
  margin-top:100px;
  .fetured__hedaer {
    color: $c_black;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    padding-bottom:16px;
  }
  .fetured__text {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    line-height: 14px;
    color: #9f9f9f;
    padding-bottom:60px;
  }
  .fetured__products {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .fetured__product {
      position:relative;
      width:261px;
      margin-bottom:40px;
      padding-bottom:21px;
      transition: all ease-in-out 0.2s;

      .product__image {
        > img {
          width:100%;
          height:280px;
          border-image-width: unset;
          transition: all ease-in-out .3s;
        }
      }

      .product__content {
        padding-top: 19px;
        padding-left: 15px;
        padding-right: 15px;
        .product__name {
          padding-bottom: 17px;
          font-size: 13px;
          font-weight: 400;
          text-transform: uppercase;
          color: $c_black;
          display: block;
        }
        .product__price-rating {
          display:flex;
          justify-content: space-between;
          align-items: center;
          .product_price {
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
            color: $c_pink;
          }
          .product__rating {
            display:flex;
            justify-content: flex-end;
            align-items: center;
            color:$c_stars;
          }
        }
      }

      .product__add2cart {
        top:100px;
        left:70px;
        right:70px;
        position:absolute;
        z-index: 1;
        opacity: 0;
        display:flex;
        align-items: center;
        border: 1px solid #ffffff;
        padding: 10px 12px 7px 12px;
        color:#FFF;
        font-size: 13px;
        font-weight: 700;
        white-space: nowrap;
        img {
          margin-right:8px;
        }
      }
    }
    .fetured__product:hover {
      box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
      .product__image img {
        filter: brightness(50%);
      }
      .product__add2cart {
          opacity: 1;
      }
    }
  }
  .fetured__more {
    text-align: center;
  }

  .fetured__footer {
    display: flex;
    justify-content: space-between;

    .fetured__pagination {
      padding:0px 15px;
      border-radius: 3px;
      border: 1px solid #ebebeb;
      width: 261px;
      ul {
        height: 44px;
        display: flex;
        justify-content: space-between;
        list-style: none;
        align-items: center;
        li {
          a{
            font-size: 16px;
            font-weight: bold;
            color: #c4c4c4;
          }
          a:hover {
            color:$c_pink;
          }
        }
        li.pagination__page_disabled {
          a {
            cursor: no-drop;
            color: #aaaaaa;
          }
        }
        li.pagination__page_last:before {
          content: ".....";
          font-size: 16px;
          font-weight: bold;
          color: #c4c4c4;
        }
        li.pagination__page_last {
          margin-left: -16px;
        }
        li.pagination__page_current {
          a {
            font-size: 16px;
            font-weight: bold;
            color: $c_pink;
          }
        }
      }
    }

    .fetured__view-all {
      .fetured__view-all-btn {
        width: 150px;
        line-height: 44px;
        border-radius: 3px;
        border: 1px solid $c_pink;
        text-align: center;
        color:$c_pink;
        padding:15px 45px;
        transition: background-color ease-in-out .2s;
      }
      .fetured__view-all-btn:hover {
        background: $c_pink;
        color:#FFF;
      }
    }
  }
}