.product__layout {
  display:flex;
  justify-content: space-between;
  margin-top:60px;
  .product__sub-navigations {
    width:243px;
  }
  .product__content-layout {
    width:846px;
    .fetured {
      margin-top:50px;
    }
  }
}