$c_pink: #f16d7f;
$c_black: #222;
$c_borders: #e6e6e6;
$c_bg_banner: #e8e8e8;
$c_placeholder: #a4a4a4;
$c_offer_bg: #dadad2;
$c_sale_bg: #222224;
$c_stars: #e4af48;
$c_drop_down_a: #232323;
$fa-border-color: #f16d7f;
